$header-color: #EFEFEF;
$brand-color: #0F9D58;
$color-white: #fff;

.col {
  border: 1px solid #eee;
  margin-bottom: 0;
  min-width: 10rem;
  min-height: 1rem;
  max-width: 10rem;
  padding: 0;
  line-height: 2.2rem;
  resize: both;
  overflow: auto;
}

.export {
  position: fixed;
  top: 0.8rem;
  right: 0.8rem;
  color: $color-white;
}
.col-header {
  display: flex;
  justify-content: center;
  min-width: 10rem;
  min-height: 1rem;
  max-width: 10rem;
  align-items: center;
  background: $header-color;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $header-color;
    resize: none;
    flex: 1;
    border-radius: 0;
    p{
      margin-bottom: 0;
    }
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
  .row-header {
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-bottom: 0;
    background: $header-color;
    border-bottom: 1px solid #fff;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $header-color;
      resize: none;
      flex: 1;
      border-radius: 0;
      p{
        margin-bottom: 0;
      }
    }
  }
}

.selected {
  border: 1px solid $brand-color;
}


.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
