.col {
  border: 1px solid #eee;
  margin-bottom: 0;
  min-width: 10rem;
  min-height: 1rem;
  max-width: 10rem;
  padding: 0;
  line-height: 2.2rem;
  resize: both;
  overflow: auto;
}


.col-header {
  display: flex;
  justify-content: center;
  min-width: 10rem;
  min-height: 1rem;
  max-width: 10rem;
  align-items: center;
  background: #d2d2d2;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d2d2d2;
    resize: none;
    font-weight: 800;
    flex: 1;
    border-radius: 0;
    p{
      margin-bottom: 0;
    }
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .row-header {
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-bottom: 0;
    font-weight: 800;
    background: #d2d2d2;
    border-bottom: 1px solid #fff;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d2d2d2;
      resize: none;
      font-weight: 800;
      flex: 1;
      border-radius: 0;
      p{
        margin-bottom: 0;
      }
    }
  }
}

.selected {
  border: 1px solid green;
}


.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
