@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px !important;
  font-family: 'proxima-nova' !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  margin-bottom: 0;
}

.navbar {
    margin-bottom: 0 !important;
}


@import '~bootstrap/scss/bootstrap.scss';
