$brand-color: #0F9D58;
$color-white: #fff;

.navbar {
  border: 0;
  padding: 0;
  background: $color-white;
  .navbar-brand {
    width: 8rem;
    color: $color-white !important;
    background: $brand-color;
    font-weight: 600;
  }
}
